/* VARIABLES */
/* Media query settings */
$medium-min-width:650px;
$large-min-width:800px;

/* Wrapper and padding */
$wrapper-max-width:58.75rem;
$page-side-padding:2%;

/* Colors */
$primary-color:#e94f3d; /* red */
$secondary-color:#ededed;  /* grey */
$tertiary-color:#717ba1; /* blue */
  
/* Fonts */
$font-nav:Lato;
$gutter: 2%;

/* Header */
$header-height:115px;
$flag-height:104px;
$flag-text-margin:62px;
$flag-radius:5px;
$flag-padding:0.5rem;

/* Hero */
$hero-height: 21.875rem;


/* Main */

/* Footer */
$footer-banner-height: 17.5rem;
$footer-margin-top:7.5rem;